@model MVC.E_Commerce.Models.Support


<h1>
	Ticket @Html.DisplayFor(model => model.Id)
</h1>

<div>
	Här finns information om ticket @Html.DisplayFor(model => model.Id)
</div>

Id:			  @Html.DisplayFor(model => model.Id)
<br />
Titel:		  @Html.DisplayFor(model => model.Title)
<br />
Beskrivning:  @Html.DisplayFor(model => model.Description)
<br />
Skapad av:    @Html.DisplayFor(model => model.Creator)
<br />
Vill du verkligen ta bort den här ticketen?
<br />
<br />
<a asp-action="DeleteConfirm" asp-route-Id="@Model.Id">Ta bort </a>
<br />
<br />
<a asp-action="Index">Ångra</a>
<br />
