@model MVC.E_Commerce.Models.Cart

<h1>Shopping cart</h1>

<a asp-controller="Checkouts" asp-action="Details" asp-route-id="" class="Order">Checkout</a>

<br />
<span>Total: $</span>@Html.DisplayFor(model => model.CartTotal)
<br />
@if (Model.CartItems.Count() != 0)
{
    <a asp-controller="Checkouts" asp-action="Index" class="btn btn-sm btn-success">Order checkout</a>
    <br />
    <a asp-controller="Carts" asp-action="EmptyCart">
        <button type="button" class="btn btn-sm btn-danger mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
            </svg>
            Empty cart
        </button>
    </a>
    <h2>Products</h2>
}

@if (Model.CartItems.Count() == 0)
{
    <h3 class="text-warning">Your cart is empty</h3>
}
@foreach (CartItem Item in Model.CartItems)
{
    @Html.DisplayFor(modelItem => Item.Product.ProductName)
    <br />
    <span>Subtotal: $ </span>@Html.DisplayFor(modelItem => Item.CartItemTotal)
    <br />

    <a class="btn btn-sm btn-success mb-1" asp-controller="Carts" asp-action="RemoveOneItem" asp-route-id="@Item.ProductId">-</a>
    <span>Qty: </span>

</div>

    @Html.DisplayFor(modelItem => Item.Quantity)
    <a class="btn btn-sm btn-success mb-1" asp-controller="Carts" asp-action="AddOneItem" asp-route-id="@Item.ProductId">+</a>
    <br />
    <a asp-controller="Carts" asp-action="RemoveAllOfTheseItems" asp-route-id="@Item.ProductId">
        <button type="button" class="btn btn-sm btn-danger mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
            </svg>
        </button>
    </a>
    <hr />
}

