@model MVC.E_Commerce.Models.Cart

<h1>Your shopping cart</h1>

CartId: @Html.DisplayFor(model => model.Id)
<br />
Summa: @Html.DisplayFor(model => model.CartTotal)
<br />
<a asp-controller="Carts" asp-action="EmptyCart" asp-route-id="">Empty cart</a>

<h2>Products</h2>

@foreach (CartItem Item in Model.CartItems)
{

    <span>Product Id: </span> @Html.DisplayFor(modelItem => Item.ProductId)
    <br />
    <span>Summa: </span>@Html.DisplayFor(modelItem => Item.CartItemTotal)
    <br />
    <td>
        <div class="button-container">
            <button class="cart-qty-plus" type="button" value="+">
                <a asp-controller="Carts" asp-action="AddOneItem" asp-route-id="@Item.ProductId"><span> + </span> </a>
            </button>
            @*<input type="text" name="qty" min="0" class="qty form-control" value="@Item.Quantity" />*@
            @Html.DisplayFor(modelItem => Item.Quantity)
            <button class="cart-qty-minus" type="button" value="-"><a asp-controller="Carts" asp-action="RemoveOneItem" asp-route-id="@Item.ProductId" form action> - </a></button>
            <br />
        </div>
    </td>
    

    <a asp-controller="Carts" asp-action="RemoveAllOfTheseItems" asp-route-id="@Item.ProductId">Remove Item</a>

    <div>-------------------------------</div>
}