@model MVC.E_Commerce.Models.Cart

<h1>Your shopping cart</h1>

CartId: @Html.DisplayFor(model => model.Id)
<br />
Summa: @Html.DisplayFor(model => model.CartTotal) <br />
<a asp-controller="Carts" asp-action="EmptyCart" asp-route-id="">Empty cart</a>

<h2>Products</h2>

@foreach (CartItem Item in Model.CartItems)
{

    <span>Service Id: </span> @Html.DisplayFor(modelItem => Item.ProductId)
    <br />
    <span>Summa: </span>@Html.DisplayFor(modelItem => Item.CartItemTotal)
    <br />

    <span>Antal: </span>@Html.DisplayFor(modelItem => Item.Quantity)
    <br />
    <a asp-controller="Carts" asp-action="RemoveItem" asp-route-id="@Item.Id">Remove Item</a>

    <div>-------------------------------</div>
}
